/*
=============== 
Variables
===============
*/

:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

input.search-input {
  height: 3rem;
  width: 60vh;
  position: absolute;
  top: 20px;
  right: 540px;
  border-radius: 40px;
  border: none;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: none;
}
input::placeholder {
  font-size: 1rem;
  position: relative;
  left: 20px;
  opacity: 50%;
}

a.search-icon {
  z-index: +1;
  opacity: 100;
}
a.exit-icon {
  z-index: +2;
  position: absolute;
  right: 545px;
  opacity: 0;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  background: transparent;
  /* box-shadow: var(--light-shadow); */
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: #000;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  font-size: 1.6rem;
  color: #ff4e02;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo {
  height: 65px;
}

.links a {
  color: #000;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  color: #ff4e02;
  padding-left: 1.1rem;
  font-size: 0.95rem;
  letter-spacing: 0.21rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 1.2rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
